html {
  box-sizing: border-box; }

body {
  font-family: 'oswald', sans-serif; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

*,
*::before,
*::after {
  box-sizing: inherit; }

p {
  margin: 0; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@font-face {
  font-family: 'Baskerville Display PT';
  src: url("../../fonts/baskerville-display-pt.ttf"); }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/proximanova.ttf"); }

.page__wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  justify-content: center;
  padding-top: 60px; }

.page__header-title {
  color: #000;
  display: flex;
  justify-content: center;
  font-family: Baskerville Display PT;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin: 0; }
  @media (max-width: 375px) {
    .page__header-title {
      padding-left: 20px;
      padding-right: 20px; } }

.banner {
  padding-top: 50px;
  max-width: 1420px;
  cursor: pointer;
  margin: 0 auto; }
  .banner:hover {
    transform: scale(1.02);
    transition: transform 0.4s ease; }
  .banner:not(hover) {
    transform: scale(1);
    transition: transform 0.4s ease; }
  .banner img {
    object-fit: cover;
    max-height: 550px; }

.text-block {
  padding-top: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto; }
  @media (max-width: 1024px) {
    .text-block {
      padding-top: 47px; } }
  @media (max-width: 375px) {
    .text-block {
      padding-right: 20px;
      padding-left: 20px; } }
  .text-block .text-block__title {
    color: #000;
    display: flex;
    justify-content: center;
    font-family: Baskerville Display PT;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin: 0 0 13px 0;
    text-align: center; }
  .text-block .text-block__text {
    color: #000;
    font-family: Proxima Nova;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.8px;
    margin: 0 0 30px 0;
    text-align: center; }
  .text-block a {
    color: #000;
    font-family: Proxima Nova;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.8px;
    line-height: normal;
    cursor: pointer;
    border-bottom: 1px solid #000;
    padding-bottom: 4px;
    text-align: center; }
    .text-block a:hover {
      color: #00ccff; }

.text-block--two {
  padding-top: 100px; }
  .text-block--two p {
    text-transform: uppercase; }
  @media (max-width: 375px) {
    .text-block--two .text-block__title {
      padding-left: 20px;
      padding-right: 20px; } }

.goods .good:first-of-type {
  margin-top: 12px; }
  @media (max-width: 375px) {
    .goods .good:first-of-type {
      margin-top: -26px; } }

@media (max-width: 375px) {
  .goods {
    display: flex;
    flex-direction: column;
    gap: 0px; } }

.good {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1650px;
  height: 550px;
  margin-top: 50px;
  gap: 55px; }
  @media (max-width: 375px) {
    .good {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: none;
      height: 100%;
      gap: 27px;
      margin-top: 0; } }
  .good .good__img-container {
    max-width: 710px;
    max-height: 550px; }
    @media (max-width: 375px) {
      .good .good__img-container {
        max-width: 375px;
        max-height: 290px; } }
  .good .good__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 55px; }
    @media (max-width: 375px) {
      .good .good__text-container {
        padding: 0 20px; } }
  .good .good__img-container {
    justify-self: end; }
    .good .good__img-container img {
      height: 100%; }
      @media (max-width: 375px) {
        .good .good__img-container img {
          object-fit: contain;
          max-height: 290px; } }
  .good .good__text-title {
    color: #000;
    display: flex;
    justify-content: center;
    font-family: Baskerville Display PT;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.2px;
    text-transform: uppercase; }
  .good .good__text {
    color: #000;
    font-family: Proxima Nova;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.8px; }

.good--right-img {
  grid-template-columns: 48% 52%; }
  .good--right-img .good__img-container {
    justify-self: end; }

.good--one .good__text-title {
  margin-bottom: 12px; }
  @media (max-width: 375px) {
    .good--one .good__text-title {
      margin-bottom: 0; } }
  .good--one .good__text-title .good__img-container {
    margin-top: 40px; }

@media (max-width: 375px) {
  .good--two {
    margin-top: 138px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none; } }

.good--two .good__text-title {
  margin-bottom: 10px; }
  @media (max-width: 375px) {
    .good--two .good__text-title {
      margin-bottom: 0; } }

.good--two p {
  padding-top: 3px;
  padding-bottom: 3px; }

.good--two .good__text-container {
  padding-left: 190px; }
  @media (max-width: 375px) {
    .good--two .good__text-container {
      padding: 0 20px; } }

.good--two .good__img-container {
  justify-self: start; }

@media (max-width: 375px) {
  .good--three {
    grid-gap: 0; }
    .good--three .good__text-title {
      margin-bottom: 12px;
      padding-top: 28px; }
    .good--three p {
      padding-top: 3px;
      padding-bottom: 3px; }
    .good--three .good__text-container {
      padding-bottom: 70px; } }
    @media (max-width: 375px) and (max-width: 375px) {
      .good--three .good__text-container {
        padding-bottom: 0; } }

@media (max-width: 375px) {
    .good--three .good__img-container img {
      margin-top: 50px; } }
    @media (max-width: 375px) and (max-width: 375px) {
      .good--three .good__img-container img {
        margin-top: 0; } }

.slider {
  margin-top: 134px;
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center; }

.slider__title {
  color: #000;
  display: flex;
  justify-content: center;
  font-family: Baskerville Display PT;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  position: absolute;
  top: -75px;
  padding: 0 20px; }
  @media (max-width: 375px) {
    .slider__title {
      left: 20%; } }

.slider__wrapper {
  max-width: 1235px;
  overflow: hidden; }

.slider__elements {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden; }

.slider__element {
  display: flex;
  width: 25%;
  gap: 18px;
  flex: 0 0 23.5%;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 18px; }

.slider__arrow-left {
  background: url("../img/slider/left.svg"); }

.slider__arrow-right {
  background: url("../img/slider/right.svg"); }

.slider__arrow {
  width: 35px;
  height: 35px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 3; }

.slider__arrow-left {
  background: url("../img/slider/left.svg");
  left: 12px; }

.slider__arrow-right {
  background: url("../img/slider/right.svg");
  right: 12px; }
