.slider {
  margin-top: 134px;
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.slider__title {
  @include title;
  position: absolute;
  top: -75px;
  padding: 0 20px;
  @media (max-width: $mobile-width-only) {
    left: 20%;
    top: -122px;
  }
}

.slider__wrapper {
  max-width: 1235px;
  overflow: hidden;
}

.slider__elements {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
}

.slider__element {
  display: flex;
  width: 25%;
  gap: 18px;
  flex: 0 0 23.5%;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}
.slider__arrow-left {
  background: url('../img/slider/left.svg');
}

.slider__arrow-right {
  background: url('../img/slider/right.svg');
}

.slider__arrow {
  width: 35px;
  height: 35px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.slider__arrow-left {
  background: url('../img/slider/left.svg');
  left: 12px;
}

.slider__arrow-right {
  background: url('../img/slider/right.svg');
  right: 12px;
}
